<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HHUpdateApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HHUpdateApp.Properties.Settings>
            <setting name="ServerUpdateUrl" serializeAs="String">
                <value>http://localhost:8020/TrafficQueue.Services/version.json</value>
            </setting>
            <setting name="LocalIgnoreVer" serializeAs="String">
                <value />
            </setting>
            <setting name="SilentUpdate" serializeAs="String">
                <value>静默更新 0：否 1：是</value>
            </setting>
        </HHUpdateApp.Properties.Settings>
    </applicationSettings>
</configuration>