<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="HHUpdateApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<!--此处是HHUpdateApp.exe运行是需要的一些参数，可以手动配置好。如果没有配置，更新程序运行时，会进入配置页，要求配置。两种方式均可以-->
		<HHUpdateApp.Properties.Settings>
			<!--业务应用程序名称：根据这个值，找到业务应用程序，并为它赋予自动更新的功能-->
			<setting name="LaunchAppName" serializeAs="String">
				<value />
			</setting>
			<!--服务地址：HHUpdateApp.exe将下载此处提供的HHversions.json文件（包含版本更新信息的JSON文件）-->
			<setting name="ServerUpdateUrl" serializeAs="String">
				<value>http://localhost:8020/HHversions.json</value>
			</setting>
			<!--非必要参数，用于记录忽略的一个版本号：检查更新时会忽略这个版本的更新-->
			<setting name="LocalIgnoreVer" serializeAs="String">
				<value />
			</setting>
			<!--非必要参数，是否静悄悄升级：true,更新过程中不显示界面；false,显示更新界面-->
			<setting name="SilentUpdate" serializeAs="String">
				<value>False</value>
			</setting>
		</HHUpdateApp.Properties.Settings>
	</applicationSettings>
</configuration>